# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/.cproject
/.project

ch-utils/.deps
ch-utils/.libs
Makefile*
stamp-h1
libtool
config.h
config.log
config.status
.settings
*.log
*.user
*.ipch
*.db
win/win32/vs11/ch-utils-static/.vs/ch-utils-static/v15/.suo
